<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs')%>
  <body>
    <header>
      <h1>Welcome</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/detox">Detox</a>
          </li>
          <li>
            <a href="/residential">Residential</a>
          </li>
          <li>
            <a href="/stories">Stories</a>
          </li>
        </ul>
      </nav>
    </header>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>