
<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <header>
      <h1>Edit <%= stories.title %>Info</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/stories">Stories</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Storie Attributes:</h2>
      <form action="/stories/<%= stories._id %>?_method=PUT" method="POST">
        Image URL: <input type="text" name="image"/>
        <button type="submit">Upload</button>
        <br />
        Name:<input type="text" name="name" /><br />
        Location:<input type="text" name="location" /><br />
        <label for="body">Body:</label>
        <textarea name="body"></textarea><br />
        <input type="submit" value="Share your Story" />
      </form>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>