<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <link rel="stylesheet" href="./css/style.css" />
  <body>
    <style type="text/css">
    </style>
    <header>
      <h1>Residential Centers</h1>
      <nav>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/detox">Detox Centers</a>
            </li>
            <li>
              <a href="/residential">Residential Centers</a>
            </li>
            <li>
              <a href="/stories">Share Your Story</a>
            </li>
          </ul>
        </nav>
      </nav>
    </header>
    <main>
      <h3>Residential Requirements</h3>
      <p>In order to get into residential, you have to do an assessment with the Assessment for Residential Treatment (ART) team to hold your spot on the residential bed placement list. The assessment can take up to two and a half hours. The phone number to schedule an appointment with the ART team is (714)-934-4600. </p>
      <br />
      <h3>List of Residential Providers</h3>
      <tr>
        <td>Clean Path Recovery</td>
        <a href="https://cleanpathrecovery.com">Clean Path Recovery Website</a>
      <ul>
        <li>Address: 2201 & 2205 Kilson Drive
          Santa Ana, 92707</li>
        <li>Phone Number: (949) 734-7432</li>
      </ul>
        <br />
        
        <td>Gerry House</td>
          <a href="https://www.straighttalkcounseling.org/gerryhouse"> Gerry House Website</a>
          <ul>
            <li>Address: 1225 W. 6th Street
              Santa Ana, CA 92703 </li>
            <li>Phone Number:(714) 619-2516 or
              (714) 972-1402</li>
          </ul>
       
      <br />
      <tr>
        <td>His House</td>
          <a href="https://hishouserehab.com">His House Website</a>
          <ul>
          <li>Address: 710 North Anaheim Blvd.
            Anaheim, CA 92805 </li>
          <li>Phone Number: (714) 776-6090</li>
        </ul>
      <br /> 
       <td>New Creation</td>
          <a href="https://newcreationtreatment.com/locations/prado/">New Creation Website</a>
          <ul>
            <li>Address: 23950 Prado Ln & 11646 Encanto Ln.
              Colton, CA 92324 </li>
            <li>Phone Number: (877) 368-7195 </li>
          </ul>
        <br /> 
      <td>Phoenix House</td>
          <a href="https://phoenixhouseca.org/santa-ana-residential-services/">Phoenix House Website</a>
          <ul>
            <li>Address: 1207 East Fruit Street 
              Santa Ana, CA 92703  </li>
            <li>Phone Number: (714) 953-9373 </li>
          </ul>
        <br /> 
        <td>Vera's Sanctuary</td>
          
            <a href="https://theteenproject.com/veras-sanctuary-2/">Vera's Sanctuary Website</a>
            <ul>
              <li>Address: 20331 Flanagan Rd.
                Trabuco Canyon, CA 92679 </li>
              <li>Phone Number: (800) 685-7460  </li>
            </ul>
          <br /> 
        <tr>
          <td>The Villa</td>
              <a href="https://getconnected.unitedwayoc.org/agency/detail/?agency_id=3791">The Villa Website</a>
              <ul>
                <li>Address: 910 French Street
                  Santa Ana, CA 92701  </li>
                <li>Phone Number: (714) 547-3301  </li>
              </ul>
            <br />
            <td>Woodglen Recovery</td>
              <a href="https://woodglenrecovery.org">Woodglen Recovery Website</a>
              <ul>
                <li>Address: 771 West Orangethorpe Avenue
                  Fullerton, CA 92832 </li>
                <li>Phone Number: (714) 879-0929  </li>
              </ul>

        </tr>
        <% for(let i = 0; i < residential.length; i++){ %>
        <li>
          <a href="/residential/<%= residential[i]._id %>"><%= residential[i].name %></a>
        </li>
        <% } %>
      </ul>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>