<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body id="about"> 
    <header>
      <div>
      <h1>About</h1>
      <nav>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/detox">Detox Centers</a>
            </li>
            <li>
              <a href="/residential">Residential Centers</a>
            </li>
            <li>
              <a href="/stories">Share Your Story</a>
            </li>
          </ul>
        </nav>
      </nav>
    </header>
    <main>
      <h2>About Me</h2>
      <br />
      <p> Hello, my name is Cynthia Alanis. I work at Orange County Health Care Agency within the Mental Health and Recovery Services Division. While working at Orange County Health Care Agency, I quickly discovered how difficult it is for clients to find the right services. I created a list of resources in hopes to make it less overwhelming for people to locate service providers. </p>
      <ul>
        <% for(let i = 0; i < about.length; i++){ %>
        <li>
          <a href="/about/<%= about[i]._id %>"><%= about[i].name %></a>
        </li>
        <% } %>
      </ul>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>